<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [41]:
##### Begin Working Here #####

!wget 'https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip'

--2020-01-14 20:15:08--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.2’

LoanStats_2018Q4.cs     [            <=>     ]  21.72M   433KB/s    in 53s

2020-01-14 20:16:01 (423 KB/s) - ‘LoanStats_2018Q4.csv.zip.2’ saved [22776791]

In [112]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [0]:
import pandas as pd

df = pd.read_csv('LoanStats_2018Q4.csv', 
                 skiprows=1, 
                 skipfooter=2, 
                 engine='python')

In [192]:
df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0       6000         6000  ...                  60.01            24.0
1      24000        24000  ...                    NaN             NaN
2      30000        30000  ...                    NaN             NaN
3       8000         8000  ...                    NaN             NaN
4      22400        22400  ...                    NaN             NaN

[5 rows x 140 columns]

In [0]:
def int_fix(cell):
  return float(cell.strip().strip('%'))

In [194]:
df['int_rate_float'] = df['int_rate'].apply(int_fix)

df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_float
0       6000         6000  ...             24.0          14.47
1      24000        24000  ...              NaN          10.33
2      30000        30000  ...              NaN          15.02
3       8000         8000  ...              NaN          12.98
4      22400        22400  ...              NaN          16.14

[5 rows x 141 columns]

In [0]:
def clean_title(job_title):
  if isinstance(job_title, str):
    return job_title.title().strip()
  else:
    return "Unknown"

In [196]:
df['emp_title'] = df['emp_title'].apply(clean_title)

df['emp_title'].isnull().sum()

0

In [197]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

df.dtypes[:15]

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                datetime64[ns]
loan_status                    object
dtype: object

In [198]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

df.head()

   loan_amnt  funded_amnt  ...  issue_year issue_month
0       6000         6000  ...        2018          12
1      24000        24000  ...        2018          12
2      30000        30000  ...        2018          12
3       8000         8000  ...        2018          12
4      22400        22400  ...        2018          12

[5 rows x 143 columns]

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [200]:
df['days_from_earliest_credit_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

df.head()

   loan_amnt  funded_amnt  ...  issue_month days_from_earliest_credit_to_issue
0       6000         6000  ...           12                               4566
1      24000        24000  ...           12                               8096
2      30000        30000  ...           12                               4232
3       8000         8000  ...           12                               3562
4      22400        22400  ...           12                               5113

[5 rows x 144 columns]

In [0]:
def term_conv(cell):
  return int(cell.strip('months').strip())

df['term'] = df['term'].apply(term_conv)

In [202]:
df['term'].unique()

array([36, 60])

In [203]:
df['loan_status'].unique()

array(['Charged Off', 'Current', 'Fully Paid', 'Late (31-120 days)',
       'In Grace Period', 'Late (16-30 days)', 'Default'], dtype=object)

In [0]:
def loan_status_classifier(cell):
  if cell == 'Current' or cell == 'Fully Paid':
    return 1
  else:
    return 0

df['loan_status_is_great'] = df['loan_status'].apply(loan_status_classifier)

In [205]:
df['loan_status_is_great'].value_counts().sum()

128397

In [0]:
df['last_pymnt_d'].head()

df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [207]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month

df['last_pymnt_d_month'].unique()

array([ 4., 12.,  2., 10.,  9.,  7.,  5.,  8., 11.,  1.,  6.,  3., nan])

In [208]:
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

df['last_pymnt_d_year'].unique()

array([2019.,   nan, 2018., 2020.])

In [209]:
df_sub = df[['term', 'loan_status_is_great', 'last_pymnt_d_month', 'last_pymnt_d_year']]

df_sub.head()

   term  loan_status_is_great  last_pymnt_d_month  last_pymnt_d_year
0    36                     0                 4.0             2019.0
1    36                     1                12.0             2019.0
2    36                     1                 2.0             2019.0
3    36                     1                12.0             2019.0
4    60                     1                12.0             2019.0

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [210]:
def revol_fix(cell):
  if isinstance(cell, str):
    return float(cell.strip().strip('%'))
  else:
    return

df['revol_util_clean'] = df['revol_util'].apply(revol_fix)

df['revol_util_clean'].head()

0    91.2
1    27.7
2    48.0
3    33.3
4    38.2
Name: revol_util_clean, dtype: float64

In [0]:
titles = df['emp_title'].value_counts()[:21]

def title_clean(title):
  if title in titles:
    return title
  else:
    return "Other"

df['emp_title'] = df['emp_title'].apply(title_clean)

In [212]:
df['emp_title'].unique()

array(['Manager', 'Other', 'Supervisor', 'Unknown', 'Driver', 'Engineer',
       'Teacher', 'Project Manager', 'Administrative Assistant',
       'Director', 'General Manager', 'Sales', 'Office Manager', 'Rn',
       'Operations Manager', 'Police Officer', 'Registered Nurse',
       'Truck Driver', 'Nurse', 'Technician', 'Owner', 'Sales Manager'],
      dtype=object)

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01